fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
pillow
numpy
click
cryptography
anyio
cffi
six
colorama
exceptiongroup
typing_extensions
python-multipart
opencv-python>=4.5.5.64
tensorflow>=2.8.0
keras>=2.8.0